@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

body {
    margin: 0;
    background: url(bg.svg) bottom/100% no-repeat fixed;
}

@media (max-width: 768px) {
    body {
        background-image: radial-gradient( circle farthest-corner at 1.5% 1.4%, rgba(159, 227, 255, 1) 0%, rgba(177, 255, 254, 1) 100.2%);
    }
}

* {
    box-sizing: border-box;
}

*+* {
    margin: .5em 0;
}

header {
    margin-bottom: 2em;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border: solid #333435;
}

.row {
    width: 100%;
    margin-top: 2em;
}

@media(min-width:35em) {
    .col {
        display: table-cell;
        width: 40%;
    }
    .row {
        display: table;
        border-spacing: 1em 0;
    }
}

.container {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 inter;
}

h1 {
    font: 100 2.5em inter;
    font-weight: 700;
}

img {
    transform: translateZ(0);
}

.tc {
    text-align: center;
}

h5 {
    font: 100 1.2em inter;
    margin-bottom: .5em;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: box-shadow .3s;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.4);
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

h4 {
    font: 100 1.5em inter;
    margin-bottom: .5em;
    color: #333435;
}

.btn {
    margin-top: .5em;
    text-decoration: none;
    display: inline-block;
    padding: 1.25em;
    text-transform: uppercase;
    color: #fff;
    background: #333435;
    font: .7em inter;
    font-weight: 700;
}

.btn:hover {
    opacity: .6;
}
